.ActualIndex {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    "title title"
    "stream chat"
    "score score"
    "navbar-and-content navbar-and-content";
  width: 90%;
}

@media (max-width: 1100px) {
  .ActualIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "title"
      "stream"
      "chat"
      "score"
      "navbar-and-content";
  }
}
