.ActualIndex {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto 80% 10% 10% auto;
  grid-template-areas:
    "title title"
    "stream chat"
    "score score"
    "navbar navbar"
    "navbar-content navbar-content";

  margin: 50px;
}
