.actualIndex {
  margin: 40px;
}

.title {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.stream {
  margin-right: 20px;
  margin-top: 30px;
}

.chat {
  margin-top: 30px;
}

.streamAndChat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1100px) {
  .chat {
    width: 100%;
  }

  .actualIndex {
    margin: 2px 0;
  }

  .stream {
    max-width: 100%;
    margin: 0 5px;
  }
}
