.gameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

.highScoreContainer {
  border: 2px solid white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  background-color: white;
  font-size: 1.5vw;
  width: 0 auto;
  overflow-x: hidden;
}

.canvasContainer {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 200px;
  border: 1px solid black;
}

@media (max-width: 1100px) {
  .canvasContainer {
    width: 105%;
    margin-bottom: 1rem;
  }
}