.container {
  width: auto;
  min-width: 400px;
  max-width: 400px;
}

.messageListHeader {
  display: flex;
  height: 65px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  justify-content: center;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.wrapper {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.frame {
  position: relative;
  height: 600px;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  background-color: white;
  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
}

.list {
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: flex-end;

  height: inherit;
  min-width: inherit;
  max-width: inherit;

  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}

@media (max-width: 1300px) {
  .container {
    margin: 0 auto;
  }

  .messageListHeader {
    height: 50px;
    max-width: 100%;
  }

  .chatH2 {
    margin-top: 19px;
    font-size: 18px;
  }

  .container {
    min-width: 240px;
    max-width: 100%;
    margin: 0 5px;
  }

  .frame {
    height: 340px;
  }
}
