.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin: 30px 30px 30px 30px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
  font-size: 20px;
}

.navbarButton {
  width: 33.33%;
  outline: 2px solid lightgray;
}

.navbarButton input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.navbarButton input + div {
  background-color: white;
  padding: 20px;
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
}

.navbarButton input:checked + div {
  background-color: lightgray;
}

.infoContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  margin-right: 15px;
  margin-top: 6px;
}

.buttonContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1300px) {
  .navbar {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .navbar {
    font-size: 10px;
    margin: 10px 5px 10px 5px;
  }
}

@media (max-width: 500px) {
  .buttonContent {
    flex-direction: column;
    align-items: center;
  }
  .icon {
    margin: 0px;
  }
}
