.container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "side-text side-text"
    "abakus online"
    "name-text name-text"
    "name-input name-input"
    "submit submit";
  justify-items: center;
}

/* HIDE RADIO */
.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio + div {
  background-color: white;
  width: fit-content;

  height: 100px;
  width: 455px;
  padding: 20px;

  cursor: pointer;
  border-radius: 20px;

  box-shadow: 0 10px 11px rgba(33, 33, 33, 0.7);
}

.radio:checked + div {
  box-shadow: none;
  transform: translateY(6px);
}

.radio + div img {
  display: block;
  margin: auto;

  max-height: 100%;
}

.abakusButton {
  grid-area: "abakus";
  justify-self: end;
  margin: 50px;
}

.onlineButton {
  grid-area: "online";
  justify-self: start;
  margin: 50px;
}

.inputText {
  color: white;
  font-size: 70px;
  font-weight: 900;
  margin: 50px;
  margin-bottom: 0px;
  text-shadow: 0px 0px 11px rgba(33, 33, 33, 0.7);
}

.nameInput input {
  margin: 50px;
  font-size: 50px;
  padding: 30px;
  width: 470px;
  border-radius: 20px;
}

.submitButton {
  padding: 30px;
  font-size: 70px;
  font-weight: bolder;
  border-radius: 20px;
  color: black;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 10px 11px rgba(33, 33, 33, 0.7);
}

.submitButton:active {
  box-shadow: none;
  transform: translateY(6px);
}

@media (max-width: 1100px) {
  .container {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, -15%) scale(0.3333);
  }
}
