.container {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sideButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sideButtons label {
  transition: all 0.2s ease-in-out;
}

.sideButtons label:hover {
  transition: all 0.2s ease-in-out;
}

.sideButtons label:hover div {
  box-shadow: 0 13px 15px rgba(33, 33, 33, 0.7);
  transition: all 0.2s ease-in-out;
}

/* HIDE RADIO */
.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio + div {
  background-color: white;
  width: fit-content;
  height: 80px;
  width: 400px;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 10px 11px rgba(33, 33, 33, 0.7);
  transition: all 0.2s ease-in-out;
}

.radio:checked + div {
  box-shadow: none;
  transform: scale(1.1);
  box-shadow: 0 13px 15px rgba(33, 33, 33, 0.7);
}

.radio + div img {
  display: block;
  margin: auto;
  max-height: 100%;
}

.abakusButton {
  margin: 50px;
}

.onlineButton {
  margin: 50px;
}

.text {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.nameInput {
  margin: 0 auto;
}

.nameInput input {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 50px;
  padding: 30px;
  width: 470px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.submitButton {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 25px;
  font-size: 60px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 10px 11px rgba(33, 33, 33, 0.7);
}

.submitButton:hover {
  box-shadow: 0 13px 15px rgba(33, 33, 33, 0.7);
}

.submitButton:active {
  box-shadow: none;
  transform: translateY(6px);
  transition: all 0.2s ease-in-out;
}

.submitButtonDiv {
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, -15%) scale(0.3333);
  }
}
