/* HIDE RADIO */
.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio + img {
  height: 200px;
  background-color: white;
  padding: 50px;
  border-radius: 50px;

  cursor: pointer;
}

.radio:checked + img {
  border: 2px solid #f00;
}
